body{
	/*background-color: black;*/
	font-size: 14px;
	/*background-color: black;*/
    /*color: white;*/
}
input{
	border: none;
}
tr,td{
	border:none;
	margin: 0rem;
	padding: 0rem;
}
.nav_menu_header4 a {
    color: white;
    display: inline-block; /* Agrega esto para que la transformación funcione */
    transition: transform 0.12s; /* Agrega una transición suave para la animación */
  }

  .nav_menu_header4 a:hover {
    text-decoration: none;
    transform: scale(1.01);
  }

  .nav_menu_header4 a.active {
    color: rgb(213, 247, 249); /* Puedes cambiar el color a tu preferencia */
    font-weight: bold; /* O agregar otros estilos para resaltar */
  }

  .alert-container {
    display: flex;
    justify-content: flex-start; /* Alinear verticalmente en el centro */
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 10px;
    width: 100%;
    z-index: 9999; /* Asegurarse de que el alert esté por encima de todo */
  }

  .alert {
    margin-top: 10px; /* Espacio entre el alert y la parte superior */
    position: relative;
  }

  /* Agregamos la clase "fade-in" para el efecto de fade */
  .fade-in {
    animation: fadeIn 1s ease;
  }
  .fade-out {
    animation: fadeOut 1s ease;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
.form1_bg{
	background-color:  rgb(229, 229, 229);
	padding: 3rem;
	display: flex;
	flex-direction: column;
	gap:0.5rem;
}
.body_container{
	/*width: calc(100vw-50px);*/
	/*width: 90vw;*/
	/*padding-left: : 100px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* margin: auto; */
	margin-top: 66.97px;

	/*background-color: red;*/
	/*padding-left: 50px;*/
}
.btn-dark{
	background-color: rgb(47, 119, 156);
		/* background-color: rgb(47, 119, 156); */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px, rgba(0, 0, 0, 0.06) 20px 15px 12px; */

    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 17px;
	transition: 0.2s;


}
/* Estilos para las miniaturas */
.vista-previa-container {
	display: flex;
	flex-wrap: nowrap; /* Evitar que las miniaturas se envuelvan en líneas */
	overflow-x: auto; /* Permitir desplazamiento horizontal */
  }
  
  .miniatura {
	display: inline-block;
	margin: 10px;
	border: 1px solid #ccc;
	padding: 5px;
  }
  
  .imagen-miniatura {
	width: 10px;
	height: 10px;
	object-fit: cover;
  }
  
  .icono-miniatura {
	font-size: 50px;
	color: #999;
  }
  
.btn{
	background-color: rgb(47, 119, 156);
		/* background-color: rgb(47, 119, 156); */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px, rgba(0, 0, 0, 0.06) 20px 15px 12px; */

    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 17px;
	transition: 0.2s;


}
.form3{
	/*margin: 4rem 0rem;*/
}
.form-control{
	border:none;
	/*padding: 0;*/

}
.nav_menu_header1{
	height: 35px;
	width: 100%;
	background-color: rgb(78, 31, 79);

	letter-spacing: 0.1rem;
	/*background-color: rgb(158, 67, 143);*/
	color: white;
	padding: 0.5rem;
	display: flex;
	/* justify-content: flex-end; */
	/*position: fixed;*/
	top: 66.97px;

}
.nav_menu_header3{
	height: 35px;
	width: 100%;
	background-color: rgb(78, 31, 79);
	padding-left: 1rem;
	letter-spacing: 0.15rem;
	/*background-color: rgb(158, 67, 143);*/
	color: white;
	/*padding: 0.5rem;*/
	display: flex;
	justify-content:space-between;
	align-items: center;
	position: fixed;
	top: 66.97px;
	z-index:1002;
	


}
.nav_menu_header4{
	display: flex;
	gap:1.3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
	
}
.formcontrol{
	width: 100%;
	/*min-width:230px;*/
}
.title{
	font-weight: bold;
	padding: 0;
	/*text-transform: capitalize;*/
	/*text-align: right;*/
}
.container{
	/*max-width: 1000px;*/
	display: flex;
	flex-direction: column;
	gap:2rem;
	/*margin:2rem auto;*/
	max-width: 900px


}
.formcontrol1{

}
.first_cont{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.sec_cont{
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    justify-content: space-between;

}
.raw{
    display: flex;
    gap:1rem;
    width: 100%
}
.dir{
	width: 100%;
	height: 50px;
}
.column{
	width: 100%
}

.loader {
    width: 30px;
    height: 30px;
    border: 4px solid #FF3D00;
    border-bottom-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 